<form>
<table style="text-align: center;" width="100%" border="0"  class="table table-bordered ">

    <tr style="background:#B39609">
      <th style="width: 12%"></th>
      
      <th style="min-width: 270px">COMENTS</th>
      <th >UNITS</th>
      <th>QUANTITY  </th>
      <th>WIDTH</th>
      <th>HIGH</th>
      <th>WIDE</th>
      <th>TOTAL: {{entry.scope_quantity}}</th>
      <th>PHASE</th>

    </tr>

{%for obj in meassurement_list %}

  <tr style="" id="{{entry.id}}" >
    <td><input 
      type="checkbox" 
      name=" {{entry.entry_name}}"
      id="{{obj.id}}"
      data-url="{% url 'projects:meassurement_delete'  id_meassurement=obj.id  id_entry=entry.id %}" >


     <button 
      data-url="" 
      id=" {{obj.id}}" style="" class="btn btn-warning btn-xs js-update-meassurement" type="submit" class="">
      <span class="glyphicon glyphicon-pencil"></span> 
       </button> 

      <button 
      data-url="{% url 'projects:meassurement_delete'  id_meassurement=obj.id  id_entry=entry.id %}"  
      id=" {{obj.id}}"
      style=" margin-left: 7px" 
      class="btn btn-danger btn-xs meassurement-delete" 
      type="" >
      
      <span class="glyphicon glyphicon-trash"> </span> 
    </button>

    </td>
    <td>{{obj.coments}}</td>
    <td>{{obj.ud_type}} </td>
    <td>{{obj.quantity}} </td>
    <td>{{obj.width}}</td>
    <td>{{obj.high}}</td>
    <td>{{obj.wide}} </td>
    <td>{{obj.total_meassurement}} </td>
    <td>{{obj.phase}} </td>
  </tr>
{% empty %}
        <tr>
          <td colspan="9" class="text-center bg-warning">No Meassurements</td>
        </tr>
  
{%endfor%}

</table>

<form>


