<body><form method="post" action="" class="">
  {% csrf_token %}
  <li><label for="id_project_name">Project name:</label> <input type="text" name="project_name"  maxlength="200" id="id_project_name"></li>
<li><label for="id_project_number">Project number:</label> <input type="text" name="project_number" maxlength="200" id="id_project_number"></li>
<li><label for="id_date">Date:</label> <input type="text" name="date"  id="id_date"></li>
<li><label for="id_project_address">Project address:</label> <input type="text" name="project_address" maxlength="200" id="id_project_address"></li>
<li><label for="id_start_date">Start date:</label> <input type="text" name="start_date" id="id_start_date"></li>
<li><label for="id_end_date">End date:</label> <input type="text" name="end_date"  id="id_end_date"></li>
<li><label for="id_project_manager">Project manager:</label> <select name="project_manager" id="id_project_manager" multiple="multiple">
  <option value="1" selected="">Peter Novak</option>

</select></li>
<li><label for="id_site_manager">Site manager:</label> <select name="site_manager" id="id_site_manager" multiple="multiple">
  <option value="1">Peter Novak</option>

</select></li>
<li><label for="id_quantity_surveyor">Quantyty surveyor:</label> <select name="quantity_surveyor" id="id_quantity_surveyor" multiple="multiple">
  <option value="1">Peter Novak</option>

</select></li>
<li><label for="id_foreman">Foreman:</label> <select name="foreman" id="id_foreman" multiple="multiple">
  <option value="1">Peter Novak</option>

</select></li>
<li><label for="id_client">Client:</label> <select name="client" id="id_client">
  <option value="">---------</option>

  <option value="1" selected="">Naylor Love ltd.</option>

</select></li>
<li><label for="id_state">State:</label> <select name="state" id="id_state">
  <option value="ACT">Accepted</option>

  <option value="WFA" selected="">Waiting</option>

  <option value="REJ">Overruled</option>

</select></li>
<li><label for="id_benefit_factor">Benefit factor:</label> <input type="number" name="benefit_factor"  step="0.01" id="id_benefit_factor"></li>
<li><label for="id_custom_factor">Custom factor:</label> <input type="number" name="custom_factor"  step="0.01" id="id_custom_factor"></li>
<li><label for="id_indirect_cost_factor">Indirect cost factor:</label> <input type="number" name="indirect_cost_factor" step="0.01" id="id_indirect_cost_factor"></li>
<li><label for="id_general_cost_factor">General cost factor:</label> <input type="number" name="general_cost_factor"  step="0.01" id="id_general_cost_factor"></li>
  
    <button type="submit" class="">Create</button>
  
</form></body>