{% load static %}
{% for project in projects %}
 
        <tr>

           <td><a style="" href="{%url 'projects:project_create' id=project.id   %}" >{{ project.project_name }}</a></td>
           <td>{{ project.project_number }}</td>
           <td>{{ project.project_address}}</td>
           <td>{{ project.start_date}} </td>                                       
           <td> 
            {% for man in project.project_manager.all %}
            <p>{{ man }}</p>
            {% endfor %}

          </td>                                       
           <td>{{ project.client}}</td>
           <td>{{ project.state}}</td>
           <td>
      <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
    </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No users</td>
        </tr>
      {% endfor %}
 