
{% extends 'users/base1.html' %}
{% block style %}
<style type="text/css">
  
  td, th {
    text-align: center;
  }


</style>
{% endblock %}


{% block content%}
<div style="border-bottom: solid 3px blue">
  <h3><span style="float: right; font-size: 0.7em ">{{request.user.profile_employee.employee_name}}</span></h3>  
<h3> <span style=""> Items of  </span> <br> {{entry.entry_name}}  </h3>
</div>

<div style="margin-top: 10px">

  <div class='raw' >
  <div class="col-sm-5 " style="padding: 0px" >
      <button id="scope" style="margin-bottom: 15px" class="btn btn-primary" type="submit" class=""     >Scope</button>
      <button id='planif' style="margin-bottom: 15px" class="btn btn-primary" type="submit" class=""    >Planification</button>
      <button id="real" style="margin-bottom: 15px" class="btn btn-primary" type="submit" class=""      >Real</button>

  </div>

  <div id="meassurements-container">

        {% include 'projects/entry_items/partial_item_list.html' %}
</div>
<button  

    type="button" 
    class="btn btn-primary btn-sm " 
    id="item-load"   
    data-url=  ""  
    style=" margin: auto; margin-top: 20px" > 


      <span style="margin-right: 7px" class="glyphicon glyphicon-plus" > 
        
      </span>Add new
  </button>



  <button type="button" 
      class="btn btn-danger btn-sm delete-item-selected"   
      data-url=""     
      style=" margin: auto; margin-top: 20px" > 
      <span class="glyphicon glyphicon-trash" > 
      </span>Delete selected
  </button>


  <button   

    type="button" 
    class="btn btn-primary btn-sm item-submit " 
    id=""   
    data-url=  ""  
    style=" margin: auto; margin-top: 20px; float: right;" > 


      <span style="margin-right: 7px" class="glyphicon glyphicon-plus" >
        
      </span>Submit items
  </button>



