{% load static %}







{% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
           {%  if user.is_client %}
          <td><a   class="btn" href="{% url 'profiles:profiles_detail'   action='Profile_Client'   id=user.profile_client.id %}">{{ user.email  }}</a></td>
          {%elif user.is_employee%}

          <td><a   class="btn" href="">{{ user.email  }}</a></td>

          {%elif user.is_provider%}

          <td><a   class="btn" href="">{{ user.email  }}</a></td>
          {%elif user.is_superuser%}

          <td><a   class="btn" href="">{{ user.email  }}</a></td>



           {% endif %}
          
          
          
          <td>{{ user.date_joined }}</td>
          <td>{{ user.is_active}}</td>

          {% if user.is_superuser  %}
           <td>Administrador</td>

           {% elif user.is_client %}
           <td>client</td>
           {% elif user.is_employee %}
           <td>Employee</td>
           {% elif user.is_provider %}
           <td>Provider</td>
           {% elif user.is_visitor %}
           <td>Visitor</td>

           {% endif  %}

           <td>
      <button type="button"
              class="btn btn-warning btn-sm js-update-book"
              data-url="{% url 'users:user_update' user.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-book"
              data-url="{% url 'users:user_delete' user.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
          
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No users</td>
        </tr>
      {% endfor %}








