{% extends "users/base1.html" %}
{% load widget_tweaks %}
{% load static %}

{% block style %}

<style type="text/css">
  
#main{
  margin-top: 100px;
  width: 40%;
  margin: auto ;
  margin-top: 100px;
  border: solid 1px ;
  padding: 30px;
  border-radius: 5px;
  background:  rgba(226,226,226,1.00);
}

</style>

{% endblock %}



{% block javascript %}
  <script src="{% static 'js/users2.js' %}"></script>
 
{% endblock %}


{% block content %}

  
<div id="main" >
  <h3  >Forgot password</h3>
  <h5>Introduce registration email</h5>
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class="form-control is-valid" %}

    {%endfor%}
	</div>
    <button id="pepe" type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'users:home'  %}" class="btn btn-info  " style="margin-left: 20px" > Back home</a>
  </form>
</div>

{% endblock %}ß